@font-face {
  font-family: "ShopifySans";
  src: url("https://cdn.shopify.com/shopify-marketing_assets/static/ShopifySans--light.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("https://cdn.shopify.com/shopify-marketing_assets/static/ShopifySans--regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("https://cdn.shopify.com/shopify-marketing_assets/static/ShopifySans--medium.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("https://cdn.shopify.com/shopify-marketing_assets/static/ShopifySans--bold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("https://cdn.shopify.com/shopify-marketing_assets/static/ShopifySans--extrabold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("https://cdn.shopify.com/shopify-marketing_assets/static/ShopifySans--black.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

:root {
  --font--featured-heading--size: 24px;
  --font--section-heading--size: 20px;
  --font--block-heading--size: 16px;
  --font--heading--uppercase: uppercase;
  --font--paragraph--size: 16px;
  --font--heading--family: Roboto, sans-serif;
  --font--heading--weight: 400;
  --font--heading--normal-weight: 400;
  --font--heading--style: normal;
  --font--accent--family: Karla, sans-serif;
  --font--accent--weight: 400;
  --font--accent--style: normal;
  --font--accent--size: 13px;
  --font--paragraph--family: Roboto, sans-serif;
  --font--paragraph--weight: 400;
  --font--paragraph--style: normal;
  --font--bolder-paragraph--weight: 700;
  --font--gift-card: "Playfair Display", serif;
}
