/* Main styles for the whole project */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background: var(--color-page-bg);
}

main {
  display: block;
  background-color: #ffffff;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font--paragraph--family);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

h1 {
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */

  letter-spacing: 0.5px;
  text-transform: uppercase;

  /* page-bg */

  color: var(--color-button);
}

h2 {
  font-family: var(--font--paragraph--family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */

  letter-spacing: 0.5px;
  text-transform: uppercase;
}

h3 {
  font-family: var(--font--paragraph--family);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  text-transform: uppercase;
}

h4 {
  font-family: var(--font--accent--family);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  font-family: var(--font--accent--family);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-bottom: 0;
}

h6 {
  display: none;
}

a {
  font-family: var(--font--accent--family);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-text);
  font-weight: normal;
}

a:hover {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.innerdoc_wrapper ul {
}

.innerdoc_wrapper li {
}

span {
  display: flex;
}

label {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input {
  max-width: 250px;
  max-height: 46px;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  background-color: var(--color-page-bg);
  cursor: pointer;
  padding: 8px 15px 8px 16px;
  background: #ffffff;
}

img {
}

.innerdoc_wrapper img {
}

.innerdoc_wrapper {
}

button {
  outline: none;
}

button.medium-button {
  width: 52px;
  height: 38px;
  background-color: var(--color-text);
  color: var(--color--alternative);
  text-transform: uppercase;
  border: none;
  outline: none;
}

button.big-button {
  min-width: 400px;
  height: 46px;
  background-color: var(--color-text);
  color: var(--color-page-bg);
  text-transform: uppercase;
  border: none;
  outline: none;
}

button.small-button {
  width: 116px;
  height: 46px;
  background-color: var(--color-text);
  color: var(--color-page-bg);
  text-transform: uppercase;
  border: none;
  outline: none;
  text-decoration: none;
}

button.big-button--white {
  background-color: var(--color-page-bg) !important;
  color: var(--color-text) !important;
  border: 2px solid var(--color-text) !important;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.wrapper {
  padding-left: 8.5%;
  padding-right: 8.5%;
}

.container__bottom {
  margin-bottom: 74px;
}

.currency_en {
}

.currency_number_en {
  margin-right: 2px;
  margin-left: 2px;
}
