/* Announcement block */

.announcement {
  background-color: #ffd7d7;
}

.announcement__wrapper > * {
  padding: 8px;
}

.announcement__wrapper {
  padding: 0 8px;
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.announcement__icon {
  flex-shrink: 0;
  padding-right: 0;
  line-height: 1;
}

.announcement__icon img {
  max-width: 22px;
  max-height: 25px;
}

/* Announcement block ends */

/* Header block starts */

.header__root {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  width: 100%;
  background: var(--color-header-bg);
  -webkit-transition: background 1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: background 1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 8.5%;
  padding-right: 8.5%;
  padding-top: 36px;
}

.header__center {
  position: absolute;
  left: 50%;
  top: 36px;
  transform: translateX(-50%);
  max-width: 144px;
  max-height: 35px;
}

.header__center img {
  width: 144px;
  height: 35px;
}

.header__center a {
  display: flex;
  align-items: center;
}

/* header left  */

.header__left {
  display: flex;
}

.disclosure {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  background-color: var(--color-page-bg);
  cursor: pointer;
  padding: 8px 15px 8px 16px;
  width: 100%;
  position: relative;
  height: 42px;
  width: 136px;
}

.disclosure__list {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 105%;
  width: 100%;
  left: 0;
  border: 1px solid #e3e6e9;
  transition: 0.3s all;
}

.disclosure__list-item {
  width: 100%;
  padding: 10px;
  background: white;
}

.disclosure__list-item:hover {
  background: var(--color-tabs-accordions);
}

.disclosure__input {
  display: none;
}

.disclosure__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.search-bar:hover {
  cursor: pointer;
}

/* header left ends */

/* header right */

.header__right {
  display: flex;
}

.flag {
  display: flex;
}

.flag:hover {
  cursor: pointer;
}

.flag__options {
  display: flex;
}

.flag__option {
  display: flex;
  align-items: center;
}

.flag__option img {
  width: 28px;
  height: 20px;
  margin-right: 12px;
}

.flag__list {
  display: none;
}

.logging {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 73px;
}

.logging__login {
  padding-right: 7px;
}

.logging__sign-up {
  padding-left: 7px;
}

.shopping-cart {
  position: relative;
  display: flex;
  align-items: center;
}

.shopping-cart:hover {
  cursor: pointer;
}

.shopping-cart__number {
  background-color: var(--badge-color);
  font-family: var(--font--accent--family);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 9px;
  line-height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  right: -3px;
}

/* Header bottom */

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__bottom nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__bottom nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__bottom nav ul li {
  padding: 16px 16px 16px;
}

.header__bottom nav ul li a {
  text-decoration: none;
}

.main-menu__link {
  text-decoration: none;
}

.main-menu__link {
  text-decoration: none;
}

a.main-menu__link--small {
  font-size: 13px;
  text-transform: capitalize;
}

a.main-menu__link--heading {
  font-size: 14px;
}

.main-menu__item:hover {
  cursor: pointer;
}

.dropdown-nav {
  display: none;
  position: absolute;
  bottom: -135%;
  left: 0;
  width: 100%;
  z-index: 9;
  background: var(--color-header-bg);
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  padding-right: 32px;
}

.dropdown__list:first-child {
  border-right: 1px solid var(--color-header);
  padding-right: 64px;
  min-height: calc(100% - 30px);
  height: 140px;
  margin-top: 0;
}

.dropdown__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 -48px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.dropdown__item {
  padding: 12px 32px 30px 32px;
}

.dropdown__item:nth-child(2) {
  padding: 12px 32px 30px 0;
}

.dropdown__pick-cards {
  padding-right: 64px;
}

.mobile__nav-trigger {
  display: none;
  width: 30px;
  height: 30px;
}

.logging__mobile {
  display: none;
}

.flag__mobile {
  display: none;
}
