:root {
  --image--popup: url("//cdn.shopify.com/s/files/1/0348/6821/files/Stocksy_txp2f2db77agsj200_Small_3189776_1200x.jpg?v=1591887424");
  /* Colors */
  --color--accent: #ffd7d7;
  --color-text: #212121;
  --color-page-bg: #ffffff;
  --color-badge-bdr: rgba(33, 33, 33, 0.05);
  --color-border: #e0e0e0;
  --color-button: #ffffff;
  --color-button-bg: #272727;
  --color--body--light: #515151;
  --color--alternative: #ffffff;
  --color-header: #272727;
  --color-header-bg: #ffeff0;
  --color-header-bg--transparent: rgba(255, 239, 240, 0);
  --color-header-bg--opaque: rgba(255, 239, 240, 0.95);
  --color-menubar: #272727;
  --color-cart: #272727;
  --color--footer: #333333;
  --bg-color--footer: #ffeff0;
  --color-slider-caption: #272727;
  --color-slider-caption-bg: #ffffff;
  --color-slider-button: #f7f7f7;
  --color-slider-button-bg: #272727;
  --color-slider-button-hover-bg: ;
  --color-slider-nav: #272727;
  --color-product-slider-bg: ;
  --color-featured-promo-bg: ;
  --color-social-feed-bg: ;
  --color-tabs-accordions: #ebebeb;
  --payment-terms-background-color: #ffffff;
  --badge-color: #f7bcc7;
  --highlights-background: #fcfbfc;

  /* Breakpoints */

  --tiny-mobile-breakpoint: 374px;
  --mobile-breakpoint: 767px;
  --tablet-breakpoint: 1023px;
  --desktop-breakpoint: 1439px;
  --big-desktop-breakpoint: 1919px;
}
