@import url("../elements/global.css");
@import url("../elements/header.css");
@import url("../elements/footer.css");
@import url("../elements/carousel.css");

.collection__banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 60vh;
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../img/second_banner_image.jpg") center 30% no-repeat;
  background-size: cover;
}

.carousel__item {
  text-decoration: none;
}

h1 {
  position: absolute;
  padding: 32px;
  bottom: 0;
  max-width: 400px;
  z-index: 7;
}

h2.text-left {
  text-align: left;
  padding: 0 0 0 70px;
}

.main-sale__parallax {
  background-image: url("../../../img/stock.jpg");
}

h2.text-block__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.items-grid {
  padding: 0 60px;
}

.items-grid .just-dropped__item {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.pads {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  margin-top: 80px;
}

.pads__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80px;
  height: 30px;
  border: 1px solid #e3e6e9;
  box-sizing: border-box;
  border-radius: 36px;
}

.pads__item:hover {
  cursor: pointer;
}

.pads__item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting {
  padding-left: 25px;
  margin-top: 80px;
  display: flex;
  align-items: center;
}

.sorting__wrapper {
  border: 1px solid #e3e6e9;
  box-sizing: border-box;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting__wrapper span {
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* dark/#212121 */

  color: #212121;
}

.sorting__item:hover {
  cursor: pointer;
}
