.parallax-banner {
    height: 400px;
    overflow: hidden;
}

.parallax {
    padding-top: 69.1358%;
    background-image: url('../../../img/parallax-banner.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}