@import url("../elements/global.css");
@import url("../elements/header.css");
@import url("../elements/footer.css");
@import url("../elements/carousel.css");

.breadcrumbs {
  margin-top: 80px;
  margin-bottom: 64px;
  padding-left: 8.5vw;
}

.col-12.breadcrumbs__wrapper {
  display: flex;
}

.col-12.breadcrumbs__wrapper a {
  text-decoration: none;
}

.breadcrums__breadcrumb a {
  display: flex;
}

.breadcrums__breadcrumb a span {
  margin-left: 11px;
  margin-right: 11px;
}

.product__img img {
  max-width: 400px;
  max-height: 400px;
}

.product {
  padding: 0 8vw;
}

.product .col-md-6 {
  display: flex;
  flex-direction: column;
}

.product__buttons button {
  width: 100%;
  min-width: auto;
}

.product__selection {
  justify-content: flex-start;
}

.product .gift-card__selection-item:not(:first-child) {
  margin-left: 34px;
}

.product__share {
  background-color: var(--color-slider-button);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product__share h2 {
  margin-top: 37px;
  margin-bottom: 64px;
}

.product__social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin-bottom: 90px;
}

.product__social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 44px;
  background-color: var(--color-button);
  border: 1px solid #fcfbfc;
}

.product__social-network img {
  width: 16px;
  height: 13px;
  margin-right: 6px;
}

.product__social-network h4 {
  margin-bottom: 0;
}

.product__social-network,
.product__social-network > * {
  text-decoration: none;
}

.product__social-network--facebook {
  border: 1px solid #e3e6e9;
}

.skincare__container {
  padding-left: 8.5vw;
  padding-right: 8.5vw;
}
