.community {
  padding: 120px 8.5vw 120px 8.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community img {
  max-height: 760px;
  max-width: 760px;
}

.community h4 {
  margin-bottom: 20px;
}

.community p {
  margin-bottom: 50px;
}
