.product__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .gift-card__selection-item {
  max-width: 50%;
  min-width: 33.33%;
}

.product .gift-card__selection-item img {
  width: 100%;
  height: 100%;
}

.product {
  padding: 0 8vw;
  margin-bottom: 120px;
}

.product .col-md-6 {
  display: flex;
  flex-direction: column;
}

.product__buttons button {
  width: 100%;
  min-width: auto;
}

.product__selection {
  justify-content: flex-start;
}

.product .gift-card__selection-item:not(:first-child) {
  margin-left: 0;
}

.gift-card__bottom-selection {
  display: flex;
  margin-top: 25px;
}

.gift-card__selection-item {
  padding: 10px;
}

.product__img {
  max-width: 100%;
}

.product__img img {
  max-width: 100%;
}

.product__buttons-container button {
  min-width: 100% !important;
}

#mainProductImage {
  transition: 0.3s all;
}

.product__img,
.product__img > * {
  transition: 0.3s all;
}

.gift-card__selection-item {
  cursor: pointer;
}
