.blog__container {
  margin: 0 25vw;
}

.blog__heading {
  margin-top: 74px;
  margin-bottom: 30px;
}

.col-md-3.blog__avatar img {
  max-width: 215px;
  max-height: 210px;
}

.blog__item {
  padding: 24px;
  border: 1px solid #e3e6e9;
  margin-bottom: 30px;
}

.blog__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__avatar img {
  width: 100%;
}

a.text-md-center {
  margin: 1rem auto 0 auto !important;
}
